/* font size property */
.--w-font-size-pt-66-rem {font-size: 0.66rem;}
.--w-font-size-1-rem {font-size: 1rem;}
.--w-font-size-1-pt-33-rem {font-size: 1.33rem;}
.--w-font-size-1-pt-66-rem {font-size: 1.66rem;}
.--w-font-size-2-rem {font-size: 2rem;}
.--w-font-size-3-rem {font-size: 3rem;}

/* Font sizes for Material icons: */
.--w-font-size-18-px {font-size: 18px;}
.--w-font-size-24-px {font-size: 24px;}
.--w-font-size-36-px {font-size: 36px;}

/* line-height property */
.--w-line-height-1-rem {line-height: 1rem;}

/* text-align property */
.--w-text-align-center {text-align: center;}