/* Red */
:root {
    --red-50: rgba(255, 235, 238, 1);
    --red-100: rgba(255, 205, 210, 1);
    --red-200: rgba(239, 154, 154, 1);
    --red-300: rgba(229, 115, 115, 1);
    --red-400: rgba(239, 83, 80, 1);
    --red-500: rgba(244, 67, 54, 1);
    --red-600: rgba(229, 57, 53, 1);
    --red-700: rgba(211, 47, 47, 1);
    --red-800: rgba(198, 40, 40, 1);
    --red-900: rgba(183, 28, 28, 1);
    --red-A100: rgba(255, 138, 128, 1);
    --red-A200: rgba(255, 82, 82, 1);
    --red-A400: rgba(255, 23, 68, 1);
    --red-A700: rgba(213, 0, 0, 1);
}

.--colored-in-red-50 {color: var(--red-50);}
.--colored-in-red-100 {color: var(--red-100);}
.--colored-in-red-200 {color: var(--red-200);}
.--colored-in-red-300 {color: var(--red-300);}
.--colored-in-red-400 {color: var(--red-400);}
.--colored-in-red-500 {color: var(--red-500);}
.--colored-in-red-600 {color: var(--red-600);}
.--colored-in-red-700 {color: var(--red-700);}
.--colored-in-red-800 {color: var(--red-800);}
.--colored-in-red-900 {color: var(--red-900);}
.--colored-in-red-A100 {color: var(--red-A100);}
.--colored-in-red-A200 {color: var(--red-A200);}
.--colored-in-red-A400 {color: var(--red-A400);}
.--colored-in-red-A700 {color: var(--red-A700);}

.--filled-w-red-50 {fill: var(--red-50);}
.--filled-w-red-100 {fill: var(--red-100);}
.--filled-w-red-200 {fill: var(--red-200);}
.--filled-w-red-300 {fill: var(--red-300);}
.--filled-w-red-400 {fill: var(--red-400);}
.--filled-w-red-500 {fill: var(--red-500);}
.--filled-w-red-600 {fill: var(--red-600);}
.--filled-w-red-700 {fill: var(--red-700);}
.--filled-w-red-800 {fill: var(--red-800);}
.--filled-w-red-900 {fill: var(--red-900);}
.--filled-w-red-A100 {fill: var(--red-A100);}
.--filled-w-red-A200 {fill: var(--red-A200);}
.--filled-w-red-A400 {fill: var(--red-A400);}
.--filled-w-red-A700 {fill: var(--red-A700);}

.--w-bg-colored-in-red-50 {background-color: var(--red-50);}
.--w-bg-colored-in-red-100 {background-color: var(--red-100);}
.--w-bg-colored-in-red-200 {background-color: var(--red-200);}
.--w-bg-colored-in-red-300 {background-color: var(--red-300);}
.--w-bg-colored-in-red-400 {background-color: var(--red-400);}
.--w-bg-colored-in-red-500 {background-color: var(--red-500);}
.--w-bg-colored-in-red-600 {background-color: var(--red-600);}
.--w-bg-colored-in-red-700 {background-color: var(--red-700);}
.--w-bg-colored-in-red-800 {background-color: var(--red-800);}
.--w-bg-colored-in-red-900 {background-color: var(--red-900);}
.--w-bg-colored-in-red-A100 {background-color: var(--red-A100);}
.--w-bg-colored-in-red-A200 {background-color: var(--red-A200);}
.--w-bg-colored-in-red-A400 {background-color: var(--red-A400);}
.--w-bg-colored-in-red-A700 {background-color: var(--red-A700);}

/* Pink */
:root {
    --pink-50: rgba(252, 228, 236, 1);
    --pink-100: rgba(248, 187, 208, 1);
    --pink-200: rgba(244, 143, 177, 1);
    --pink-300: rgba(240, 98, 146, 1);
    --pink-400: rgba(236, 64, 122, 1);
    --pink-500: rgba(233, 30, 99, 1);
    --pink-600: rgba(216, 27, 96, 1);
    --pink-700: rgba(194, 24, 91, 1);
    --pink-800: rgba(173, 20, 87, 1);
    --pink-900: rgba(136, 14, 79, 1);
    --pink-A100: rgba(255, 128, 171, 1);
    --pink-A200: rgba(255, 64, 129, 1);
    --pink-A400: rgba(245, 0, 87, 1);
    --pink-A700: rgba(197, 17, 98, 1);
}

.--colored-in-pink-50 {color: var(--pink-50);}
.--colored-in-pink-100 {color: var(--pink-100);}
.--colored-in-pink-200 {color: var(--pink-200);}
.--colored-in-pink-300 {color: var(--pink-300);}
.--colored-in-pink-400 {color: var(--pink-400);}
.--colored-in-pink-500 {color: var(--pink-500);}
.--colored-in-pink-600 {color: var(--pink-600);}
.--colored-in-pink-700 {color: var(--pink-700);}
.--colored-in-pink-800 {color: var(--pink-800);}
.--colored-in-pink-900 {color: var(--pink-900);}
.--colored-in-pink-A100 {color: var(--pink-A100);}
.--colored-in-pink-A200 {color: var(--pink-A200);}
.--colored-in-pink-A400 {color: var(--pink-A400);}
.--colored-in-pink-A700 {color: var(--pink-A700);}

.--filled-w-pink-50 {fill: var(--pink-50);}
.--filled-w-pink-100 {fill: var(--pink-100);}
.--filled-w-pink-200 {fill: var(--pink-200);}
.--filled-w-pink-300 {fill: var(--pink-300);}
.--filled-w-pink-400 {fill: var(--pink-400);}
.--filled-w-pink-500 {fill: var(--pink-500);}
.--filled-w-pink-600 {fill: var(--pink-600);}
.--filled-w-pink-700 {fill: var(--pink-700);}
.--filled-w-pink-800 {fill: var(--pink-800);}
.--filled-w-pink-900 {fill: var(--pink-900);}
.--filled-w-pink-A100 {fill: var(--pink-A100);}
.--filled-w-pink-A200 {fill: var(--pink-A200);}
.--filled-w-pink-A400 {fill: var(--pink-A400);}
.--filled-w-pink-A700 {fill: var(--pink-A700);}

.--w-bg-colored-in-pink-50 {background-color: var(--pink-50);}
.--w-bg-colored-in-pink-100 {background-color: var(--pink-100);}
.--w-bg-colored-in-pink-200 {background-color: var(--pink-200);}
.--w-bg-colored-in-pink-300 {background-color: var(--pink-300);}
.--w-bg-colored-in-pink-400 {background-color: var(--pink-400);}
.--w-bg-colored-in-pink-500 {background-color: var(--pink-500);}
.--w-bg-colored-in-pink-600 {background-color: var(--pink-600);}
.--w-bg-colored-in-pink-700 {background-color: var(--pink-700);}
.--w-bg-colored-in-pink-800 {background-color: var(--pink-800);}
.--w-bg-colored-in-pink-900 {background-color: var(--pink-900);}
.--w-bg-colored-in-pink-A100 {background-color: var(--pink-A100);}
.--w-bg-colored-in-pink-A200 {background-color: var(--pink-A200);}
.--w-bg-colored-in-pink-A400 {background-color: var(--pink-A400);}
.--w-bg-colored-in-pink-A700 {background-color: var(--pink-A700);}

/* Blue */
:root {
    --blue-50: rgba(227, 242, 253, 1);
    --blue-100: rgba(187, 222, 251, 1);
    --blue-200: rgba(144, 202, 249, 1);
    --blue-300: rgba(100, 181, 246, 1);
    --blue-400: rgba(66, 165, 245, 1);
    --blue-500: rgba(33, 150, 243, 1);
    --blue-600: rgba(30, 136, 229, 1);
    --blue-700: rgba(25, 118, 210, 1);
    --blue-800: rgba(21, 101, 192, 1);
    --blue-900: rgba(13, 71, 161, 1);
    --blue-A100: rgba(130, 177, 255, 1);
    --blue-A200: rgba(68, 138, 255, 1);
    --blue-A400: rgba(41, 121, 255, 1);
    --blue-A700: rgba(41, 98, 255, 1);
}

.--colored-in-blue-50 {color: var(--blue-50);}
.--colored-in-blue-100 {color: var(--blue-100);}
.--colored-in-blue-200 {color: var(--blue-200);}
.--colored-in-blue-300 {color: var(--blue-300);}
.--colored-in-blue-400 {color: var(--blue-400);}
.--colored-in-blue-500 {color: var(--blue-500);}
.--colored-in-blue-600 {color: var(--blue-600);}
.--colored-in-blue-700 {color: var(--blue-700);}
.--colored-in-blue-800 {color: var(--blue-800);}
.--colored-in-blue-900 {color: var(--blue-900);}
.--colored-in-blue-A100 {color: var(--blue-A100);}
.--colored-in-blue-A200 {color: var(--blue-A200);}
.--colored-in-blue-A400 {color: var(--blue-A400);}
.--colored-in-blue-A700 {color: var(--blue-A700);}

.--filled-w-blue-50 {fill: var(--blue-50);}
.--filled-w-blue-100 {fill: var(--blue-100);}
.--filled-w-blue-200 {fill: var(--blue-200);}
.--filled-w-blue-300 {fill: var(--blue-300);}
.--filled-w-blue-400 {fill: var(--blue-400);}
.--filled-w-blue-500 {fill: var(--blue-500);}
.--filled-w-blue-600 {fill: var(--blue-600);}
.--filled-w-blue-700 {fill: var(--blue-700);}
.--filled-w-blue-800 {fill: var(--blue-800);}
.--filled-w-blue-900 {fill: var(--blue-900);}
.--filled-w-blue-A100 {fill: var(--blue-A100);}
.--filled-w-blue-A200 {fill: var(--blue-A200);}
.--filled-w-blue-A400 {fill: var(--blue-A400);}
.--filled-w-blue-A700 {fill: var(--blue-A700);}

.--w-bg-colored-in-blue-50 {background-color: var(--blue-50);}
.--w-bg-colored-in-blue-100 {background-color: var(--blue-100);}
.--w-bg-colored-in-blue-200 {background-color: var(--blue-200);}
.--w-bg-colored-in-blue-300 {background-color: var(--blue-300);}
.--w-bg-colored-in-blue-400 {background-color: var(--blue-400);}
.--w-bg-colored-in-blue-500 {background-color: var(--blue-500);}
.--w-bg-colored-in-blue-600 {background-color: var(--blue-600);}
.--w-bg-colored-in-blue-700 {background-color: var(--blue-700);}
.--w-bg-colored-in-blue-800 {background-color: var(--blue-800);}
.--w-bg-colored-in-blue-900 {background-color: var(--blue-900);}
.--w-bg-colored-in-blue-A100 {background-color: var(--blue-A100);}
.--w-bg-colored-in-blue-A200 {background-color: var(--blue-A200);}
.--w-bg-colored-in-blue-A400 {background-color: var(--blue-A400);}
.--w-bg-colored-in-blue-A700 {background-color: var(--blue-A700);}

/* Light Blue */
:root {
    --light-blue-50: rgba(225, 245, 254, 1);
    --light-blue-100: rgba(179, 229, 252, 1);
    --light-blue-200: rgba(129, 212, 250, 1);
    --light-blue-300: rgba(79, 195, 247, 1);
    --light-blue-400: rgba(41, 182, 246, 1);
    --light-blue-500: rgba(3, 169, 244, 1);
    --light-blue-600: rgba(3, 155, 229, 1);
    --light-blue-700: rgba(2, 136, 209, 1);
    --light-blue-800: rgba(2, 119, 189, 1);
    --light-blue-900: rgba(1, 87, 155, 1);
    --light-blue-A100: rgba(128, 216, 255, 1);
    --light-blue-A200: rgba(64, 196, 255, 1);
    --light-blue-A400: rgba(0, 176, 255, 1);
    --light-blue-A700: rgba(0, 145, 234, 1);
}

.--colored-in-light-blue-50 {color: var(--light-blue-50);}
.--colored-in-light-blue-100 {color: var(--light-blue-100);}
.--colored-in-light-blue-200 {color: var(--light-blue-200);}
.--colored-in-light-blue-300 {color: var(--light-blue-300);}
.--colored-in-light-blue-400 {color: var(--light-blue-400);}
.--colored-in-light-blue-500 {color: var(--light-blue-500);}
.--colored-in-light-blue-600 {color: var(--light-blue-600);}
.--colored-in-light-blue-700 {color: var(--light-blue-700);}
.--colored-in-light-blue-800 {color: var(--light-blue-800);}
.--colored-in-light-blue-900 {color: var(--light-blue-900);}
.--colored-in-light-blue-A100 {color: var(--light-blue-A100);}
.--colored-in-light-blue-A200 {color: var(--light-blue-A200);}
.--colored-in-light-blue-A400 {color: var(--light-blue-A400);}
.--colored-in-light-blue-A700 {color: var(--light-blue-A700);}

.--filled-w-light-blue-50 {fill: var(--light-blue-50);}
.--filled-w-light-blue-100 {fill: var(--light-blue-100);}
.--filled-w-light-blue-200 {fill: var(--light-blue-200);}
.--filled-w-light-blue-300 {fill: var(--light-blue-300);}
.--filled-w-light-blue-400 {fill: var(--light-blue-400);}
.--filled-w-light-blue-500 {fill: var(--light-blue-500);}
.--filled-w-light-blue-600 {fill: var(--light-blue-600);}
.--filled-w-light-blue-700 {fill: var(--light-blue-700);}
.--filled-w-light-blue-800 {fill: var(--light-blue-800);}
.--filled-w-light-blue-900 {fill: var(--light-blue-900);}
.--filled-w-light-blue-A100 {fill: var(--light-blue-A100);}
.--filled-w-light-blue-A200 {fill: var(--light-blue-A200);}
.--filled-w-light-blue-A400 {fill: var(--light-blue-A400);}
.--filled-w-light-blue-A700 {fill: var(--light-blue-A700);}

.--w-bg-colored-in-light-blue-50 {background-color: var(--light-blue-50);}
.--w-bg-colored-in-light-blue-100 {background-color: var(--light-blue-100);}
.--w-bg-colored-in-light-blue-200 {background-color: var(--light-blue-200);}
.--w-bg-colored-in-light-blue-300 {background-color: var(--light-blue-300);}
.--w-bg-colored-in-light-blue-400 {background-color: var(--light-blue-400);}
.--w-bg-colored-in-light-blue-500 {background-color: var(--light-blue-500);}
.--w-bg-colored-in-light-blue-600 {background-color: var(--light-blue-600);}
.--w-bg-colored-in-light-blue-700 {background-color: var(--light-blue-700);}
.--w-bg-colored-in-light-blue-800 {background-color: var(--light-blue-800);}
.--w-bg-colored-in-light-blue-900 {background-color: var(--light-blue-900);}
.--w-bg-colored-in-light-blue-A100 {background-color: var(--light-blue-A100);}
.--w-bg-colored-in-light-blue-A200 {background-color: var(--light-blue-A200);}
.--w-bg-colored-in-light-blue-A400 {background-color: var(--light-blue-A400);}
.--w-bg-colored-in-light-blue-A700 {background-color: var(--light-blue-A700);}

/* Green */
:root {
    --green-50: rgba(232, 245, 233, 1);
    --green-100: rgba(200, 230, 201, 1);
    --green-200: rgba(165, 214, 167, 1);
    --green-300: rgba(129, 199, 132, 1);
    --green-400: rgba(102, 187, 106, 1);
    --green-500: rgba(76, 175, 80, 1);
    --green-600: rgba(67, 160, 71, 1);
    --green-700: rgba(56, 142, 60, 1);
    --green-800: rgba(46, 125, 50, 1);
    --green-900: rgba(27, 94, 32, 1);
    --green-A100: rgba(185, 246, 202, 1);
    --green-A200: rgba(105, 240, 174, 1);
    --green-A400: rgba(0, 230, 118, 1);
    --green-A700: rgba(0, 200, 83, 1);
}

.--colored-in-green-50 {color: var(--green-50);}
.--colored-in-green-100 {color: var(--green-100);}
.--colored-in-green-200 {color: var(--green-200);}
.--colored-in-green-300 {color: var(--green-300);}
.--colored-in-green-400 {color: var(--green-400);}
.--colored-in-green-500 {color: var(--green-500);}
.--colored-in-green-600 {color: var(--green-600);}
.--colored-in-green-700 {color: var(--green-700);}
.--colored-in-green-800 {color: var(--green-800);}
.--colored-in-green-900 {color: var(--green-900);}
.--colored-in-green-A100 {color: var(--green-A100);}
.--colored-in-green-A200 {color: var(--green-A200);}
.--colored-in-green-A400 {color: var(--green-A400);}
.--colored-in-green-A700 {color: var(--green-A700);}

.--filled-w-green-50 {fill: var(--green-50);}
.--filled-w-green-100 {fill: var(--green-100);}
.--filled-w-green-200 {fill: var(--green-200);}
.--filled-w-green-300 {fill: var(--green-300);}
.--filled-w-green-400 {fill: var(--green-400);}
.--filled-w-green-500 {fill: var(--green-500);}
.--filled-w-green-600 {fill: var(--green-600);}
.--filled-w-green-700 {fill: var(--green-700);}
.--filled-w-green-800 {fill: var(--green-800);}
.--filled-w-green-900 {fill: var(--green-900);}
.--filled-w-green-A100 {fill: var(--green-A100);}
.--filled-w-green-A200 {fill: var(--green-A200);}
.--filled-w-green-A400 {fill: var(--green-A400);}
.--filled-w-green-A700 {fill: var(--green-A700);}

.--w-bg-colored-in-green-50 {background-color: var(--green-50);}
.--w-bg-colored-in-green-100 {background-color: var(--green-100);}
.--w-bg-colored-in-green-200 {background-color: var(--green-200);}
.--w-bg-colored-in-green-300 {background-color: var(--green-300);}
.--w-bg-colored-in-green-400 {background-color: var(--green-400);}
.--w-bg-colored-in-green-500 {background-color: var(--green-500);}
.--w-bg-colored-in-green-600 {background-color: var(--green-600);}
.--w-bg-colored-in-green-700 {background-color: var(--green-700);}
.--w-bg-colored-in-green-800 {background-color: var(--green-800);}
.--w-bg-colored-in-green-900 {background-color: var(--green-900);}
.--w-bg-colored-in-green-A100 {background-color: var(--green-A100);}
.--w-bg-colored-in-green-A200 {background-color: var(--green-A200);}
.--w-bg-colored-in-green-A400 {background-color: var(--green-A400);}
.--w-bg-colored-in-green-A700 {background-color: var(--green-A700);}

/* Yellow */
:root {
    --yellow-50: rgba(255, 253, 231, 1);
    --yellow-100: rgba(255, 249, 196, 1);
    --yellow-200: rgba(255, 245, 157, 1);
    --yellow-300: rgba(255, 241, 118, 1);
    --yellow-400: rgba(255, 238, 88, 1);
    --yellow-500: rgba(255, 235, 59, 1);
    --yellow-600: rgba(253, 216, 53, 1);
    --yellow-700: rgba(251, 192, 45, 1);
    --yellow-800: rgba(249, 168, 37, 1);
    --yellow-900: rgba(245, 127, 23, 1);
    --yellow-A100: rgba(255, 255, 141, 1);
    --yellow-A200: rgba(255, 255, 0, 1);
    --yellow-A400: rgba(255, 234, 0, 1);
    --yellow-A700: rgba(255, 214, 0, 1);
}

.--colored-in-yellow-50 {color: var(--yellow-50);}
.--colored-in-yellow-100 {color: var(--yellow-100);}
.--colored-in-yellow-200 {color: var(--yellow-200);}
.--colored-in-yellow-300 {color: var(--yellow-300);}
.--colored-in-yellow-400 {color: var(--yellow-400);}
.--colored-in-yellow-500 {color: var(--yellow-500);}
.--colored-in-yellow-600 {color: var(--yellow-600);}
.--colored-in-yellow-700 {color: var(--yellow-700);}
.--colored-in-yellow-800 {color: var(--yellow-800);}
.--colored-in-yellow-900 {color: var(--yellow-900);}
.--colored-in-yellow-A100 {color: var(--yellow-A100);}
.--colored-in-yellow-A200 {color: var(--yellow-A200);}
.--colored-in-yellow-A400 {color: var(--yellow-A400);}
.--colored-in-yellow-A700 {color: var(--yellow-A700);}

.--filled-w-yellow-50 {fill: var(--yellow-50);}
.--filled-w-yellow-100 {fill: var(--yellow-100);}
.--filled-w-yellow-200 {fill: var(--yellow-200);}
.--filled-w-yellow-300 {fill: var(--yellow-300);}
.--filled-w-yellow-400 {fill: var(--yellow-400);}
.--filled-w-yellow-500 {fill: var(--yellow-500);}
.--filled-w-yellow-600 {fill: var(--yellow-600);}
.--filled-w-yellow-700 {fill: var(--yellow-700);}
.--filled-w-yellow-800 {fill: var(--yellow-800);}
.--filled-w-yellow-900 {fill: var(--yellow-900);}
.--filled-w-yellow-A100 {fill: var(--yellow-A100);}
.--filled-w-yellow-A200 {fill: var(--yellow-A200);}
.--filled-w-yellow-A400 {fill: var(--yellow-A400);}
.--filled-w-yellow-A700 {fill: var(--yellow-A700);}

.--w-bg-colored-in-yellow-50 {background-color: var(--yellow-50);}
.--w-bg-colored-in-yellow-100 {background-color: var(--yellow-100);}
.--w-bg-colored-in-yellow-200 {background-color: var(--yellow-200);}
.--w-bg-colored-in-yellow-300 {background-color: var(--yellow-300);}
.--w-bg-colored-in-yellow-400 {background-color: var(--yellow-400);}
.--w-bg-colored-in-yellow-500 {background-color: var(--yellow-500);}
.--w-bg-colored-in-yellow-600 {background-color: var(--yellow-600);}
.--w-bg-colored-in-yellow-700 {background-color: var(--yellow-700);}
.--w-bg-colored-in-yellow-800 {background-color: var(--yellow-800);}
.--w-bg-colored-in-yellow-900 {background-color: var(--yellow-900);}
.--w-bg-colored-in-yellow-A100 {background-color: var(--yellow-A100);}
.--w-bg-colored-in-yellow-A200 {background-color: var(--yellow-A200);}
.--w-bg-colored-in-yellow-A400 {background-color: var(--yellow-A400);}
.--w-bg-colored-in-yellow-A700 {background-color: var(--yellow-A700);}

/* Amber */
:root {
    --amber-50: rgba(255, 248, 225, 1);
    --amber-100: rgba(255, 236, 179, 1);
    --amber-200: rgba(255, 224, 130, 1);
    --amber-300: rgba(255, 213, 79, 1);
    --amber-400: rgba(255, 202, 40, 1);
    --amber-500: rgba(255, 193, 7, 1);
    --amber-600: rgba(255, 179, 0, 1);
    --amber-700: rgba(255, 160, 0, 1);
    --amber-800: rgba(255, 143, 0, 1);
    --amber-900: rgba(255, 111, 0, 1);
    --amber-A100: rgba(255, 229, 127, 1);
    --amber-A200: rgba(255, 215, 64, 1);
    --amber-A400: rgba(255, 196, 0, 1);
    --amber-A700: rgba(255, 171, 0, 1);
}

.--colored-in-amber-50 {color: var(--amber-50);}
.--colored-in-amber-100 {color: var(--amber-100);}
.--colored-in-amber-200 {color: var(--amber-200);}
.--colored-in-amber-300 {color: var(--amber-300);}
.--colored-in-amber-400 {color: var(--amber-400);}
.--colored-in-amber-500 {color: var(--amber-500);}
.--colored-in-amber-600 {color: var(--amber-600);}
.--colored-in-amber-700 {color: var(--amber-700);}
.--colored-in-amber-800 {color: var(--amber-800);}
.--colored-in-amber-900 {color: var(--amber-900);}
.--colored-in-amber-A100 {color: var(--amber-A100);}
.--colored-in-amber-A200 {color: var(--amber-A200);}
.--colored-in-amber-A400 {color: var(--amber-A400);}
.--colored-in-amber-A700 {color: var(--amber-A700);}

.--filled-w-amber-50 {fill: var(--amber-50);}
.--filled-w-amber-100 {fill: var(--amber-100);}
.--filled-w-amber-200 {fill: var(--amber-200);}
.--filled-w-amber-300 {fill: var(--amber-300);}
.--filled-w-amber-400 {fill: var(--amber-400);}
.--filled-w-amber-500 {fill: var(--amber-500);}
.--filled-w-amber-600 {fill: var(--amber-600);}
.--filled-w-amber-700 {fill: var(--amber-700);}
.--filled-w-amber-800 {fill: var(--amber-800);}
.--filled-w-amber-900 {fill: var(--amber-900);}
.--filled-w-amber-A100 {fill: var(--amber-A100);}
.--filled-w-amber-A200 {fill: var(--amber-A200);}
.--filled-w-amber-A400 {fill: var(--amber-A400);}
.--filled-w-amber-A700 {fill: var(--amber-A700);}

.--w-bg-colored-in-amber-50 {background-color: var(--amber-50);}
.--w-bg-colored-in-amber-100 {background-color: var(--amber-100);}
.--w-bg-colored-in-amber-200 {background-color: var(--amber-200);}
.--w-bg-colored-in-amber-300 {background-color: var(--amber-300);}
.--w-bg-colored-in-amber-400 {background-color: var(--amber-400);}
.--w-bg-colored-in-amber-500 {background-color: var(--amber-500);}
.--w-bg-colored-in-amber-600 {background-color: var(--amber-600);}
.--w-bg-colored-in-amber-700 {background-color: var(--amber-700);}
.--w-bg-colored-in-amber-800 {background-color: var(--amber-800);}
.--w-bg-colored-in-amber-900 {background-color: var(--amber-900);}
.--w-bg-colored-in-amber-A100 {background-color: var(--amber-A100);}
.--w-bg-colored-in-amber-A200 {background-color: var(--amber-A200);}
.--w-bg-colored-in-amber-A400 {background-color: var(--amber-A400);}
.--w-bg-colored-in-amber-A700 {background-color: var(--amber-A700);}

/* Brown */
:root {
    --brown-50: rgba(239, 235, 233, 1);
    --brown-100: rgba(215, 204, 200, 1);
    --brown-200: rgba(188, 170, 164, 1);
    --brown-300: rgba(161, 136, 127, 1);
    --brown-400: rgba(141, 110, 99, 1);
    --brown-500: rgba(121, 85, 72, 1);
    --brown-600: rgba(109, 76, 65, 1);
    --brown-700: rgba(93, 64, 55, 1);
    --brown-800: rgba(78, 52, 46, 1);
    --brown-900: rgba(62, 39, 35, 1);
}

.--colored-in-brown-50 {color: var(--brown-50);}
.--colored-in-brown-100 {color: var(--brown-100);}
.--colored-in-brown-200 {color: var(--brown-200);}
.--colored-in-brown-300 {color: var(--brown-300);}
.--colored-in-brown-400 {color: var(--brown-400);}
.--colored-in-brown-500 {color: var(--brown-500);}
.--colored-in-brown-600 {color: var(--brown-600);}
.--colored-in-brown-700 {color: var(--brown-700);}
.--colored-in-brown-800 {color: var(--brown-800);}
.--colored-in-brown-900 {color: var(--brown-900);}

.--filled-w-brown-50 {fill: var(--brown-50);}
.--filled-w-brown-100 {fill: var(--brown-100);}
.--filled-w-brown-200 {fill: var(--brown-200);}
.--filled-w-brown-300 {fill: var(--brown-300);}
.--filled-w-brown-400 {fill: var(--brown-400);}
.--filled-w-brown-500 {fill: var(--brown-500);}
.--filled-w-brown-600 {fill: var(--brown-600);}
.--filled-w-brown-700 {fill: var(--brown-700);}
.--filled-w-brown-800 {fill: var(--brown-800);}
.--filled-w-brown-900 {fill: var(--brown-900);}

.--w-bg-colored-in-brown-50 {background-color: var(--brown-50);}
.--w-bg-colored-in-brown-100 {background-color: var(--brown-100);}
.--w-bg-colored-in-brown-200 {background-color: var(--brown-200);}
.--w-bg-colored-in-brown-300 {background-color: var(--brown-300);}
.--w-bg-colored-in-brown-400 {background-color: var(--brown-400);}
.--w-bg-colored-in-brown-500 {background-color: var(--brown-500);}
.--w-bg-colored-in-brown-600 {background-color: var(--brown-600);}
.--w-bg-colored-in-brown-700 {background-color: var(--brown-700);}
.--w-bg-colored-in-brown-800 {background-color: var(--brown-800);}
.--w-bg-colored-in-brown-900 {background-color: var(--brown-900);}

/* Gray */
:root {
    --gray-50: rgba(250, 250, 250, 1);
    --gray-100: rgba(245, 245, 245, 1);
    --gray-200: rgba(238, 238, 238, 1);
    --gray-300: rgba(224, 224, 224, 1);
    --gray-400: rgba(189, 189, 189, 1);
    --gray-500: rgba(158, 158, 158, 1);
    --gray-600: rgba(117, 117, 117, 1);
    --gray-700: rgba(97, 97, 97, 1);
    --gray-800: rgba(66, 66, 66, 1);
    --gray-900: rgba(33, 33, 33, 1);
}

.--colored-in-gray-50 {color: var(--gray-50);}
.--colored-in-gray-100 {color: var(--gray-100);}
.--colored-in-gray-200 {color: var(--gray-200);}
.--colored-in-gray-300 {color: var(--gray-300);}
.--colored-in-gray-400 {color: var(--gray-400);}
.--colored-in-gray-500 {color: var(--gray-500);}
.--colored-in-gray-600 {color: var(--gray-600);}
.--colored-in-gray-700 {color: var(--gray-700);}
.--colored-in-gray-800 {color: var(--gray-800);}
.--colored-in-gray-900 {color: var(--gray-900);}

.--filled-w-gray-50 {fill: var(--gray-50);}
.--filled-w-gray-100 {fill: var(--gray-100);}
.--filled-w-gray-200 {fill: var(--gray-200);}
.--filled-w-gray-300 {fill: var(--gray-300);}
.--filled-w-gray-400 {fill: var(--gray-400);}
.--filled-w-gray-500 {fill: var(--gray-500);}
.--filled-w-gray-600 {fill: var(--gray-600);}
.--filled-w-gray-700 {fill: var(--gray-700);}
.--filled-w-gray-800 {fill: var(--gray-800);}
.--filled-w-gray-900 {fill: var(--gray-900);}

.--w-bg-colored-in-gray-50 {background-color: var(--gray-50);}
.--w-bg-colored-in-gray-100 {background-color: var(--gray-100);}
.--w-bg-colored-in-gray-200 {background-color: var(--gray-200);}
.--w-bg-colored-in-gray-300 {background-color: var(--gray-300);}
.--w-bg-colored-in-gray-400 {background-color: var(--gray-400);}
.--w-bg-colored-in-gray-500 {background-color: var(--gray-500);}
.--w-bg-colored-in-gray-600 {background-color: var(--gray-600);}
.--w-bg-colored-in-gray-700 {background-color: var(--gray-700);}
.--w-bg-colored-in-gray-800 {background-color: var(--gray-800);}
.--w-bg-colored-in-gray-900 {background-color: var(--gray-900);}

/* Black */
:root {
    --black: rgba(0, 0, 0, 1);
}

.--colored-in-black {color: var(--black);}

.--filled-w-black {fill: var(--black);}

.--w-bg-colored-in-black {background-color: var(--black);}

/* White */
:root {
    --white: rgba(255, 255, 255, 1);
}

.--colored-in-white {color: var(--white);}

.--filled-w-white {fill: var(--white);}

.--w-bg-colored-in-white {background-color: var(--white);}