@import url("root.css");

@import url("space.css");

:root {
    --rfx-plt-offset: calc(var(--u) + (24px - 1em));
}

/* position */
.--fixed {position: fixed;}

/* top offset */
.--w-top-rfx-plt-offset {top: var(--rfx-plt-offset);}
.--w-top-rght-rfx-plt-offset {
    top: var(--rfx-plt-offset);
    right: var(--rfx-plt-offset);
}

/* right offset */
.--w-right-rfx-plt-offset {right: var(--rfx-plt-offset);}

/* bottom offset */
.--w-bottom-rfx-plt-offset {bottom: var(--rfx-plt-offset);}
.--w-bottom-right-rfx-plt-offset {
    bottom: var(--rfx-plt-offset);
    right: var(--rfx-plt-offset);
}
.--w-bttm-rght-rfx-plt-offst--2nd-col {
    bottom: var(--rfx-plt-offset);
    right: calc(var(--rfx-plt-offset) + (var(--rfx-plt-pad) + 2em + var(--rfx-plt-pad)) + var(--rfx-plt-offset));
}

/* left offset */
.--w-left-rfx-plt-offset {left: var(--rfx-plt-offset);}