@import url("colors.css");

@import url("font.css");

@import url("grid-view.css");

@import url("position.css");

@import url("space.css");

@import url("elements.css");

.frame-number-and-title {
    font-size: 1.33rem;
}

.logo {
    font-size: 1.66rem;
}

.rufox-icon {
    font-size: inherit;
}

.rufox-icon-button {
    font-size: inherit;
    height: 2em;
    padding: 0.5em;
    width: 2em;
}

.rufox-plate {
    border-radius: calc(1em + var(--rfx-plt-pad));
    padding: var(--rfx-plt-pad);
}

.rfx-plt--wide {
    width: calc(100% - (2 * var(--rfx-plt-offset)));
}

.rfx-plt--menu {
    top: 38.2%;
    right: var(--rfx-plt-offset);
}

.rfx-plt--mini-menu {
    top: calc(38.2% + (1em / 3) + 2em);
    right: var(--rfx-plt-offset);
}

.rfx-plt--thumbs {
    bottom: 19.1%;
    right: var(--rfx-plt-offset);
}

.--fullscreen {
    height: 100%;
    position: fixed;
    width: 100%;
}

.--w-bottom-border {
    border-bottom: 0.66px inset var(--gray-200);
}

.--w-box-shadow {
    box-shadow: /* made with brumm.af/shadows */
        0 1.2px 0.5px -3px rgba(0, 0, 0, 0.01),
        0 1.7px 0.8px -3px rgba(0, 0, 0, 0.02),
        0 2.4px 1.6px -3px rgba(0, 0, 0, 0.031),
        0 3.2px 3.2px -3px rgba(0, 0, 0, 0.046),
        0 4.4px 5.7px -3px rgba(0, 0, 0, 0.065),
        0 6.3px 9.4px -3px rgba(0, 0, 0, 0.091),
        0 9.1px 14.9px -3px rgba(0, 0, 0, 0.13),
        0 15px 23px -3px rgba(0, 0, 0, 0.24)
    ;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .rfx-plt--wide {
        width: calc(38.2% - (2 * var(--rfx-plt-offset)));
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo {
        font-size: 2rem;
    }

    .frame-number-and-title {
        font-size: 1.66rem;
    }

    .rfx-plt--wide {
        width: calc(38.2% - (2 * var(--rfx-plt-offset)));
    }
}