@import url("colors.css");
@import url("space.css");

a {
    text-decoration: none;
}

body {
    font-size: 100%;
}

h1 {
    margin: 0.66em 0;
}

*:-moz-any(article) h1 {
    font-size: 2rem;
}
  
*:-webkit-any(article) h1 {
    font-size: 2rem;
}
  
@supports (-ms-ime-align:auto) {
    h1 {
      font-size: 2rem;
    }
}

h2 {
    margin: 0.83em 0;
}

p {
    margin: var(--mgn) 0;
}