/* Font size */
.--w-font-size-1-rem {font-size: 1rem;}
.--w-font-size-1-pt-33-rem {font-size: 1.33rem;}
.--w-font-size-1-pt-66-rem {font-size: 1.66rem;}
.--w-font-size-2-rem {font-size: 2rem;}
.--w-font-size-3-rem {font-size: 3rem;}