* {
    box-sizing: border-box;
}

.container {
    display: flex;
}

.cont--centering-itms {
    align-items: center;
    justify-content: center;
}

.cont--centering-itms-in-cross-axis {
    align-items: center;
}

.cont--distributing-itms-evenly-in-main-axis {
    justify-content: space-between;
}

.cont--packing-itms-toward-center-of-main-axis {
    justify-content: center;
}

.cont--placing-itms-at-start-of-cross-axis {
    align-items: flex-start;
}

.cont--stacking-itms-vertically {
    flex-direction: column;
}

.row /* is a container */ {
    flex-wrap: wrap;
    width: 100%;
}

.--spanning-1-col {width: 8.33%;}
.--spanning-2-col {width: 16.66%;}
.--spanning-3-col {width: 25%;}
.--spanning-4-col {width: 33.33%;}
.--spanning-5-col {width: 41.66%;}
.--spanning-6-col {width: 50%;}
.--spanning-7-col {width: 58.33%;}
.--spanning-8-col {width: 66.66%;}
.--spanning-9-col {width: 75%;}
.--spanning-10-col {width: 83.33%;}
.--spanning-11-col {width: 91.66%;}
.--spanning-12-col {width: 100%;}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .--spanning-1-s-col {width: 8.33%;}
    .--spanning-2-s-col {width: 16.66%;}
    .--spanning-3-s-col {width: 25%;}
    .--spanning-4-s-col {width: 33.33%;}
    .--spanning-5-s-col {width: 41.66%;}
    .--spanning-6-s-col {width: 50%;}
    .--spanning-7-s-col {width: 58.33%;}
    .--spanning-8-s-col {width: 66.66%;}
    .--spanning-9-s-col {width: 75%;}
    .--spanning-10-s-col {width: 83.33%;}
    .--spanning-11-s-col {width: 91.66%;}
    .--spanning-12-s-col {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .--spanning-1-m-col {width: 8.33%;}
    .--spanning-2-m-col {width: 16.66%;}
    .--spanning-3-m-col {width: 25%;}
    .--spanning-4-m-col {width: 33.33%;}
    .--spanning-5-m-col {width: 41.66%;}
    .--spanning-6-m-col {width: 50%;}
    .--spanning-7-m-col {width: 58.33%;}
    .--spanning-8-m-col {width: 66.66%;}
    .--spanning-9-m-col {width: 75%;}
    .--spanning-10-m-col {width: 83.33%;}
    .--spanning-11-m-col {width: 91.66%;}
    .--spanning-12-m-col {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .--spanning-1-l-col {width: 8.33%;}
    .--spanning-2-l-col {width: 16.66%;}
    .--spanning-3-l-col {width: 25%;}
    .--spanning-4-l-col {width: 33.33%;}
    .--spanning-5-l-col {width: 41.66%;}
    .--spanning-6-l-col {width: 50%;}
    .--spanning-7-l-col {width: 58.33%;}
    .--spanning-8-l-col {width: 66.66%;}
    .--spanning-9-l-col {width: 75%;}
    .--spanning-10-l-col {width: 83.33%;}
    .--spanning-11-l-col {width: 91.66%;}
    .--spanning-12-l-col {width: 100%;}
}