/* Red */
:root {
    --red-50: rgba(255, 235, 238, 1);
    --red-100: rgba(255, 205, 210, 1);
    --red-200: rgba(239, 154, 154, 1);
    --red-300: rgba(229, 115, 115, 1);
    --red-400: rgba(239, 83, 80, 1);
    --red-500: rgba(244, 67, 54, 1);
    --red-600: rgba(229, 57, 53, 1);
    --red-700: rgba(211, 47, 47, 1);
    --red-800: rgba(198, 40, 40, 1);
    --red-900: rgba(183, 28, 28, 1);
    --red-A100: rgba(255, 138, 128, 1);
    --red-A200: rgba(255, 82, 82, 1);
    --red-A400: rgba(255, 23, 68, 1);
    --red-A700: rgba(213, 0, 0, 1);
}

.--colored-in-red-50 {color: var(--red-50);}
.--colored-in-red-100 {color: var(--red-100);}
.--colored-in-red-200 {color: var(--red-200);}
.--colored-in-red-300 {color: var(--red-300);}
.--colored-in-red-400 {color: var(--red-400);}
.--colored-in-red-500 {color: var(--red-500);}
.--colored-in-red-600 {color: var(--red-600);}
.--colored-in-red-700 {color: var(--red-700);}
.--colored-in-red-800 {color: var(--red-800);}
.--colored-in-red-900 {color: var(--red-900);}
.--colored-in-red-A100 {color: var(--red-A100);}
.--colored-in-red-A200 {color: var(--red-A200);}
.--colored-in-red-A400 {color: var(--red-A400);}
.--colored-in-red-A700 {color: var(--red-A700);}

.--filled-w-red-50 {fill: var(--red-50);}
.--filled-w-red-100 {fill: var(--red-100);}
.--filled-w-red-200 {fill: var(--red-200);}
.--filled-w-red-300 {fill: var(--red-300);}
.--filled-w-red-400 {fill: var(--red-400);}
.--filled-w-red-500 {fill: var(--red-500);}
.--filled-w-red-600 {fill: var(--red-600);}
.--filled-w-red-700 {fill: var(--red-700);}
.--filled-w-red-800 {fill: var(--red-800);}
.--filled-w-red-900 {fill: var(--red-900);}
.--filled-w-red-A100 {fill: var(--red-A100);}
.--filled-w-red-A200 {fill: var(--red-A200);}
.--filled-w-red-A400 {fill: var(--red-A400);}
.--filled-w-red-A700 {fill: var(--red-A700);}

.--w-bg-colored-in-red-50 {background-color: var(--red-50);}
.--w-bg-colored-in-red-100 {background-color: var(--red-100);}
.--w-bg-colored-in-red-200 {background-color: var(--red-200);}
.--w-bg-colored-in-red-300 {background-color: var(--red-300);}
.--w-bg-colored-in-red-400 {background-color: var(--red-400);}
.--w-bg-colored-in-red-500 {background-color: var(--red-500);}
.--w-bg-colored-in-red-600 {background-color: var(--red-600);}
.--w-bg-colored-in-red-700 {background-color: var(--red-700);}
.--w-bg-colored-in-red-800 {background-color: var(--red-800);}
.--w-bg-colored-in-red-900 {background-color: var(--red-900);}
.--w-bg-colored-in-red-A100 {background-color: var(--red-A100);}
.--w-bg-colored-in-red-A200 {background-color: var(--red-A200);}
.--w-bg-colored-in-red-A400 {background-color: var(--red-A400);}
.--w-bg-colored-in-red-A700 {background-color: var(--red-A700);}

/* Pink */
:root {
    --pink-50: rgba(252, 228, 236, 1);
    --pink-100: rgba(248, 187, 208, 1);
    --pink-200: rgba(244, 143, 177, 1);
    --pink-300: rgba(240, 98, 146, 1);
    --pink-400: rgba(236, 64, 122, 1);
    --pink-500: rgba(233, 30, 99, 1);
    --pink-600: rgba(216, 27, 96, 1);
    --pink-700: rgba(194, 24, 91, 1);
    --pink-800: rgba(173, 20, 87, 1);
    --pink-900: rgba(136, 14, 79, 1);
    --pink-A100: rgba(255, 128, 171, 1);
    --pink-A200: rgba(255, 64, 129, 1);
    --pink-A400: rgba(245, 0, 87, 1);
    --pink-A700: rgba(197, 17, 98, 1);
}

.--colored-in-pink-50 {color: var(--pink-50);}
.--colored-in-pink-100 {color: var(--pink-100);}
.--colored-in-pink-200 {color: var(--pink-200);}
.--colored-in-pink-300 {color: var(--pink-300);}
.--colored-in-pink-400 {color: var(--pink-400);}
.--colored-in-pink-500 {color: var(--pink-500);}
.--colored-in-pink-600 {color: var(--pink-600);}
.--colored-in-pink-700 {color: var(--pink-700);}
.--colored-in-pink-800 {color: var(--pink-800);}
.--colored-in-pink-900 {color: var(--pink-900);}
.--colored-in-pink-A100 {color: var(--pink-A100);}
.--colored-in-pink-A200 {color: var(--pink-A200);}
.--colored-in-pink-A400 {color: var(--pink-A400);}
.--colored-in-pink-A700 {color: var(--pink-A700);}

.--filled-w-pink-50 {fill: var(--pink-50);}
.--filled-w-pink-100 {fill: var(--pink-100);}
.--filled-w-pink-200 {fill: var(--pink-200);}
.--filled-w-pink-300 {fill: var(--pink-300);}
.--filled-w-pink-400 {fill: var(--pink-400);}
.--filled-w-pink-500 {fill: var(--pink-500);}
.--filled-w-pink-600 {fill: var(--pink-600);}
.--filled-w-pink-700 {fill: var(--pink-700);}
.--filled-w-pink-800 {fill: var(--pink-800);}
.--filled-w-pink-900 {fill: var(--pink-900);}
.--filled-w-pink-A100 {fill: var(--pink-A100);}
.--filled-w-pink-A200 {fill: var(--pink-A200);}
.--filled-w-pink-A400 {fill: var(--pink-A400);}
.--filled-w-pink-A700 {fill: var(--pink-A700);}

.--w-bg-colored-in-pink-50 {background-color: var(--pink-50);}
.--w-bg-colored-in-pink-100 {background-color: var(--pink-100);}
.--w-bg-colored-in-pink-200 {background-color: var(--pink-200);}
.--w-bg-colored-in-pink-300 {background-color: var(--pink-300);}
.--w-bg-colored-in-pink-400 {background-color: var(--pink-400);}
.--w-bg-colored-in-pink-500 {background-color: var(--pink-500);}
.--w-bg-colored-in-pink-600 {background-color: var(--pink-600);}
.--w-bg-colored-in-pink-700 {background-color: var(--pink-700);}
.--w-bg-colored-in-pink-800 {background-color: var(--pink-800);}
.--w-bg-colored-in-pink-900 {background-color: var(--pink-900);}
.--w-bg-colored-in-pink-A100 {background-color: var(--pink-A100);}
.--w-bg-colored-in-pink-A200 {background-color: var(--pink-A200);}
.--w-bg-colored-in-pink-A400 {background-color: var(--pink-A400);}
.--w-bg-colored-in-pink-A700 {background-color: var(--pink-A700);}

/* Brown */
:root {
    --brown-50: rgba(239, 235, 233, 1);
    --brown-100: rgba(215, 204, 200, 1);
    --brown-200: rgba(188, 170, 164, 1);
    --brown-300: rgba(161, 136, 127, 1);
    --brown-400: rgba(141, 110, 99, 1);
    --brown-500: rgba(121, 85, 72, 1);
    --brown-600: rgba(109, 76, 65, 1);
    --brown-700: rgba(93, 64, 55, 1);
    --brown-800: rgba(78, 52, 46, 1);
    --brown-900: rgba(62, 39, 35, 1);
}

.--colored-in-brown-50 {color: var(--brown-50);}
.--colored-in-brown-100 {color: var(--brown-100);}
.--colored-in-brown-200 {color: var(--brown-200);}
.--colored-in-brown-300 {color: var(--brown-300);}
.--colored-in-brown-400 {color: var(--brown-400);}
.--colored-in-brown-500 {color: var(--brown-500);}
.--colored-in-brown-600 {color: var(--brown-600);}
.--colored-in-brown-700 {color: var(--brown-700);}
.--colored-in-brown-800 {color: var(--brown-800);}
.--colored-in-brown-900 {color: var(--brown-900);}

.--filled-w-brown-50 {fill: var(--brown-50);}
.--filled-w-brown-100 {fill: var(--brown-100);}
.--filled-w-brown-200 {fill: var(--brown-200);}
.--filled-w-brown-300 {fill: var(--brown-300);}
.--filled-w-brown-400 {fill: var(--brown-400);}
.--filled-w-brown-500 {fill: var(--brown-500);}
.--filled-w-brown-600 {fill: var(--brown-600);}
.--filled-w-brown-700 {fill: var(--brown-700);}
.--filled-w-brown-800 {fill: var(--brown-800);}
.--filled-w-brown-900 {fill: var(--brown-900);}

.--w-bg-colored-in-brown-50 {background-color: var(--brown-50);}
.--w-bg-colored-in-brown-100 {background-color: var(--brown-100);}
.--w-bg-colored-in-brown-200 {background-color: var(--brown-200);}
.--w-bg-colored-in-brown-300 {background-color: var(--brown-300);}
.--w-bg-colored-in-brown-400 {background-color: var(--brown-400);}
.--w-bg-colored-in-brown-500 {background-color: var(--brown-500);}
.--w-bg-colored-in-brown-600 {background-color: var(--brown-600);}
.--w-bg-colored-in-brown-700 {background-color: var(--brown-700);}
.--w-bg-colored-in-brown-800 {background-color: var(--brown-800);}
.--w-bg-colored-in-brown-900 {background-color: var(--brown-900);}

/* Black */
:root {
    --black: rgba(0, 0, 0, 1);
}

.--colored-in-black {color: var(--black);}

.--filled-w-black {fill: var(--black);}

.--w-bg-colored-in-black {background-color: var(--black);}

/* White */
:root {
    --white: rgba(255, 255, 255, 1);
}

.--colored-in-white {color: var(--white);}

.--filled-w-white {fill: var(--white);}

.--w-bg-colored-in-white {background-color: var(--white);}