@import url("root.css");

:root {
    --mgn: var(--u);
    --pad: var(--u);
}

* {
    margin: 0;
    padding: 0;
}

/* Padding */
.--w-1-pad {padding: var(--pad);}
.--w-1-pt-33-pad {padding: calc(1.33 * var(--pad));}
.--w-1-pt-66-pad {padding: calc(1.66 * var(--pad));}
.--w-2-pad {padding: calc(2 * var(--pad));}
.--w-3-pad {padding: calc(3 * var(--pad));}

/* Top padding */
.--w-1-top-pad {padding-top: var(--pad);}
.--w-1-pt-33-top-pad {padding-top: calc(1.33 * var(--pad));}
.--w-1-pt-66-top-pad {padding-top: calc(1.66 * var(--pad));}
.--w-2-top-pad {padding-top: calc(2 * var(--pad));}
.--w-3-top-pad {padding-top: calc(3 * var(--pad));}

/* Right padding */
.--w-1-right-pad {padding-right: var(--pad);}
.--w-1-pt-33-right-pad {padding-right: calc(1.33 * var(--pad));}
.--w-1-pt-66-right-pad {padding-right: calc(1.66 * var(--pad));}
.--w-2-right-pad {padding-right: calc(2 * var(--pad));}
.--w-3-right-pad {padding-right: calc(3 * var(--pad));}

/* Left padding */
.--w-1-left-pad {padding-left: var(--pad);}
.--w-1-pt-33-left-pad {padding-left: calc(1.33 * var(--pad));}
.--w-1-pt-66-left-pad {padding-left: calc(1.66 * var(--pad));}
.--w-2-left-pad {padding-left: calc(2 * var(--pad));}
.--w-3-left-pad {padding-left: calc(3 * var(--pad));}

/* Bottom padding */
.--w-1-bottom-pad {padding-bottom: var(--pad);}
.--w-1-pt-33-bottom-pad {padding-bottom: calc(1.33 * var(--pad));}
.--w-1-pt-66-bottom-pad {padding-bottom: calc(1.66 * var(--pad));}
.--w-2-bottom-pad {padding-bottom: calc(2 * var(--pad));}
.--w-3-bottom-pad {padding-bottom: calc(3 * var(--pad));}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* Padding */
    .--w-1-s-pad {padding: var(--pad);}
    .--w-1-pt-33-s-pad {padding: calc(1.33 * var(--pad));}
    .--w-1-pt-66-s-pad {padding: calc(1.66 * var(--pad));}
    .--w-2-s-pad {padding: calc(2 * var(--pad));}
    .--w-3-s-pad {padding: calc(3 * var(--pad));}

    /* Top padding */
    .--w-1-s-top-pad {padding-top: var(--pad);}
    .--w-1-pt-33-s-top-pad {padding-top: calc(1.33 * var(--pad));}
    .--w-1-pt-66-s-top-pad {padding-top: calc(1.66 * var(--pad));}
    .--w-2-s-top-pad {padding-top: calc(2 * var(--pad));}
    .--w-3-s-top-pad {padding-top: calc(3 * var(--pad));}

    /* Right padding */
    .--w-1-s-right-pad {padding-right: var(--pad);}
    .--w-1-pt-33-s-right-pad {padding-right: calc(1.33 * var(--pad));}
    .--w-1-pt-66-s-right-pad {padding-right: calc(1.66 * var(--pad));}
    .--w-2-s-right-pad {padding-right: calc(2 * var(--pad));}
    .--w-3-s-right-pad {padding-right: calc(3 * var(--pad));}

    /* Left padding */
    .--w-1-s-left-pad {padding-left: var(--pad);}
    .--w-1-pt-33-s-left-pad {padding-left: calc(1.33 * var(--pad));}
    .--w-1-pt-66-s-left-pad {padding-left: calc(1.66 * var(--pad));}
    .--w-2-s-left-pad {padding-left: calc(2 * var(--pad));}
    .--w-3-s-left-pad {padding-left: calc(3 * var(--pad));}

    /* Bottom padding */
    .--w-1-s-bottom-pad {padding-bottom: var(--pad);}
    .--w-1-pt-33-s-bottom-pad {padding-bottom: calc(1.33 * var(--pad));}
    .--w-1-pt-66-s-bottom-pad {padding-bottom: calc(1.66 * var(--pad));}
    .--w-2-s-bottom-pad {padding-bottom: calc(2 * var(--pad));}
    .--w-3-s-bottom-pad {padding-bottom: calc(3 * var(--pad));}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Padding */
    .--w-1-m-pad {padding: var(--pad);}
    .--w-1-pt-33-m-pad {padding: calc(1.33 * var(--pad));}
    .--w-1-pt-66-m-pad {padding: calc(1.66 * var(--pad));}
    .--w-2-m-pad {padding: calc(2 * var(--pad));}
    .--w-3-m-pad {padding: calc(3 * var(--pad));}

    /* Top padding */
    .--w-1-m-top-pad {padding-top: var(--pad);}
    .--w-1-pt-33-m-top-pad {padding-top: calc(1.33 * var(--pad));}
    .--w-1-pt-66-m-top-pad {padding-top: calc(1.66 * var(--pad));}
    .--w-2-m-top-pad {padding-top: calc(2 * var(--pad));}
    .--w-3-m-top-pad {padding-top: calc(3 * var(--pad));}

    /* Right padding */
    .--w-1-m-right-pad {padding-right: var(--pad);}
    .--w-1-pt-33-m-right-pad {padding-right: calc(1.33 * var(--pad));}
    .--w-1-pt-66-m-right-pad {padding-right: calc(1.66 * var(--pad));}
    .--w-2-m-right-pad {padding-right: calc(2 * var(--pad));}
    .--w-3-m-right-pad {padding-right: calc(3 * var(--pad));}

    /* Left padding */
    .--w-1-m-left-pad {padding-left: var(--pad);}
    .--w-1-pt-33-m-left-pad {padding-left: calc(1.33 * var(--pad));}
    .--w-1-pt-66-m-left-pad {padding-left: calc(1.66 * var(--pad));}
    .--w-2-m-left-pad {padding-left: calc(2 * var(--pad));}
    .--w-3-m-left-pad {padding-left: calc(3 * var(--pad));}

    /* Bottom padding */
    .--w-1-m-bottom-pad {padding-bottom: var(--pad);}
    .--w-1-pt-33-m-bottom-pad {padding-bottom: calc(1.33 * var(--pad));}
    .--w-1-pt-66-m-bottom-pad {padding-bottom: calc(1.66 * var(--pad));}
    .--w-2-m-bottom-pad {padding-bottom: calc(2 * var(--pad));}
    .--w-3-m-bottom-pad {padding-bottom: calc(3 * var(--pad));}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* Padding */
    .--w-1-l-pad {padding: var(--pad);}
    .--w-1-pt-33-l-pad {padding: calc(1.33 * var(--pad));}
    .--w-1-pt-66-l-pad {padding: calc(1.66 * var(--pad));}
    .--w-2-l-pad {padding: calc(2 * var(--pad));}
    .--w-3-l-pad {padding: calc(3 * var(--pad));}

    /* Top padding */
    .--w-1-l-top-pad {padding-top: var(--pad);}
    .--w-1-pt-33-l-top-pad {padding-top: calc(1.33 * var(--pad));}
    .--w-1-pt-66-l-top-pad {padding-top: calc(1.66 * var(--pad));}
    .--w-2-l-top-pad {padding-top: calc(2 * var(--pad));}
    .--w-3-l-top-pad {padding-top: calc(3 * var(--pad));}

    /* Right padding */
    .--w-1-l-right-pad {padding-right: var(--pad);}
    .--w-1-pt-33-l-right-pad {padding-right: calc(1.33 * var(--pad));}
    .--w-1-pt-66-l-right-pad {padding-right: calc(1.66 * var(--pad));}
    .--w-2-l-right-pad {padding-right: calc(2 * var(--pad));}
    .--w-3-l-right-pad {padding-right: calc(3 * var(--pad));}

    /* Left padding */
    .--w-1-l-left-pad {padding-left: var(--pad);}
    .--w-1-pt-33-l-left-pad {padding-left: calc(1.33 * var(--pad));}
    .--w-1-pt-66-l-left-pad {padding-left: calc(1.66 * var(--pad));}
    .--w-2-l-left-pad {padding-left: calc(2 * var(--pad));}
    .--w-3-l-left-pad {padding-left: calc(3 * var(--pad));}

    /* Bottom padding */
    .--w-1-l-bottom-pad {padding-bottom: var(--pad);}
    .--w-1-pt-33-l-bottom-pad {padding-bottom: calc(1.33 * var(--pad));}
    .--w-1-pt-66-l-bottom-pad {padding-bottom: calc(1.66 * var(--pad));}
    .--w-2-l-bottom-pad {padding-bottom: calc(2 * var(--pad));}
    .--w-3-l-bottom-pad {padding-bottom: calc(3 * var(--pad));}
}