@import url("colors.css");

@import url("font.css");

@import url("grid-view.css");

@import url("space.css");

@import url("elements.css");

.icon {
    height: 1em;
    width: 1em;
}

.app-bar-icon /* is an icon */ {
    font-size: 1.5rem;
}

.icon--aligned-to-txt {
    position: relative;
    top: -.1em;
    vertical-align: middle;
}

.logo {
    font-size: 1.33rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo {
        font-size: 2rem;
    }
}